/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap");

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General body style */
body {
    background: rgb(250, 250, 0);
    font-family: "Lota", sans-serif;
}

/* Logo */
img {
    width: 50vh;
    align-items: center;
}

/* Button */
.start_btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.start_btn button {
    background: #fff;
    font-size: 110%;
    font-weight: 600px;
    padding: 15px 30px;
    outline: none;
    border-radius: 1rem;
}

.info_box {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 540px;
    background: black;
    color: white;
}

.info_box .quiz_info {
    height: 60px;
    width: 100%;
    font-size: 130%;
    align-items: center;
    border-bottom: 1px solid rgb(250, 250, 0);
    display: flex;
    padding: 0 150px;
}

.info_box .quiz_info_list {
    padding: 0 160px;
}

.info_box .quiz_info_list .info span {
    color: yellow;
    font-weight: 600;
}

.info_box .quiz_info_list .info {
    margin: 5px 0;
}

.info_box .buttons {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 150px;
    border-top: 1px solid rgb(250, 250, 0);
}

.info_box .buttons button {
    font-size: 20px;
    font-weight: 600;
    margin: 0 5px;
    width: 100px;
    height: 40px;
    background: yellow;
    color: black;
    border: 1px solid rgb(250, 250, 0);
    cursor: pointer;



}

/* Media query for Large devices(laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    .logo {
        width: 30%;
        margin-left: 350px;
        margin-top: 20px;
    }

    .info_box {
        top: 65%;
    }

    .info_box .quiz_info_list {
        padding: 0 35px;
    }
}