/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap");

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General body style */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Lota", sans-serif;
}

/* Logo */
.logo {
    width: 50vh;
    align-items: center;
}

/* Button */
.start_btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
}

.info_box.activeInfo,
.quiz_box.activeQuiz {
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%);

}

.start_btn button {
    background: #ffff00;
    font-size: 180%;
    font-weight: 600;
    width: 200px;
    height: 50px;
    padding: 0 30px;
    outline: none;
    border-radius: 5px;
}

.start_btn button:hover {
    background: #fff;
}


.info_box {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 540px;
    background: black;
    color: white;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
}

.info_box .quiz_info {
    height: 60px;
    width: 100%;
    font-size: 130%;
    align-items: center;
    border-bottom: 1px solid rgb(250, 250, 0);
    display: flex;
    padding: 0 150px;
}

.info_box .quiz_info_list {
    padding: 0 160px;
}

.info_box .quiz_info_list .info span {
    color: yellow;
    font-weight: 600;
}

.info_box .quiz_info_list .info {
    margin: 5px 0;
}

.info_box .buttons {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 150px;
    border-top: 1px solid rgb(250, 250, 0);
}

.info_box .buttons button {
    font-size: 20px;
    font-weight: 600;
    margin: 0 5px;
    width: 100px;
    height: 40px;
    outline: none;
    background: yellow;
    color: black;
    border: 1px solid rgb(250, 250, 0);
    border-radius: 5px;
    cursor: pointer;
}

/* Hover button */

.buttons button.exit:hover {
    background: #fff;
}

.buttons button.contiune:hover {
    background: #fff;
}

/* Quiz display area */
.quiz_box {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    background: black;
    color: #fff;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
}

.quiz_box header {
    position: relative;
    z-index: 99;
    height: 70px;
    padding: 0 10px;
    display: flex;
    background: #000;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
    box-shadow: 0px 3px 5px 1px rgb(0, 0, 0, 0.1);
    border: 1px solid rgb(255, 255, 0);
}

.quiz_box header .title {
    font-size: 110%;
    font-weight: 600;
}

.quiz_box header .timer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 139px;
    height: 47px;
    background: #fff;
    color: #000;
    padding: 0 10px;
    border-radius: 5px;
}

.quiz_box header .timer .time_left {
    font-size: 110%;
    font-weight: 600;
    user-select: none;
    text-align: center;
}

.quiz_box header .timer .timer_sec {
    font-size: 150%;
    font-weight: 700;
    text-align: center;
    line-height: 30px;
    background: yellow;
    width: 45px;
    height: 30px;
    border-radius: 3px;

}

/* Style Quiz questuin  and Answer section */
.quiz_box section {
    background: #000;
    padding: 0 15px;
}

.quiz_box section .question_text {
    font-size: 130%;
    font-weight: 600;
}

.quiz_box section .choose_ans {
    display: block;
    padding: 10px 0;
}

section .choose_ans .option_list {
    background-color: #252525;
    border: 1px solid #252525;
    border-radius: 3px;
    padding: 8px 15px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.option_list .fa-check {
    color: #008000;
}

.option_list .fa-times {
    color: #ff0000;

}

/* Style Quiz Footer */
.quiz_box footer {
    height: 50px;
    width: 100%;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quiz_box footer span {
    display: flex;
    padding-right: 28px;
}

.quiz_box footer span p {
    padding: 0 5px;
}

.quiz_box footer .next_btn {
    font-weight: 700;
    border-radius: 5px;
    transition: all 0.3s ease;
}

footer .next_btn:hover {
    background: #ffff00;
}

/* Style quiz result area */
.quiz_result {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
    background: black;
    color: #fff;
    display: flex;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
}

.quiz_result .result_icon {
    font-size: 90px;
    color: #ffff00;
}

.quiz_result .complete_quiz {
    font-size: 120%;
    font-weight: 600;
}

.quiz_result .score_text span {
    display: flex;
    font-size: 110%;
    font-weight: 400;
}

.score_text span p {
    font-weight: 700;
    padding: 0 5px;
}

.quiz_result .exit_buttons {
    display: flex;
    margin: 20px 0;
}

.quiz_result .exit_buttons button {
    font-size: 90%;
    font-weight: 600;
    height: 30px;
    margin: 0 10px;
    padding: 0 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.quiz_result .exit_buttons .replay {
    background: yellow;
    font-weight: 800;
}

.exit_buttons .replay:hover {
    background: #fff;
}

.exit_buttons .exit_game:hover {
    background: #ffff00;
}

/* Media query for tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    .quiz_box,
    .quiz_result {
        width: 80%;
        height: 350px;
    }

}


/* Media query for Large devices(laptops and desktops, 992px and up) */
@media screen and (min-width: 900px) {
    .logo {
        width: 25%;
        margin-left: 350px;
        margin-top: 20px;
    }

    .info_box,
    .quiz_box,
    .quiz_result {
        top: 65%;
    }

    .info_box .quiz_info_list {
        padding: 0 35px;
    }

    .quiz_box,
    .quiz_result {
        width: 70%;
        height: 400px;
    }
}

/* Media query for Large devices(laptops and desktops, 992px and up) */
@media screen and (min-width: 1200px) {
    .logo {
        width: 20%;
        margin-left: 600px;
        margin-top: 25px;

    }

    .quiz_box {
        width: 50%;
        height: 400px;
    }
}