/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap");

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General body style */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Lota", sans-serif;
    background: #ffff00;
}

/* Logo */
.heading .logo {
    position: absolute;
    width: 45vh;
    align-items: center;
    padding: 0 42px;
    padding-top: 30px;
}

/* Button */
.start_btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
}

.info_box.activeInfo,
.quiz_box.activeQuiz,
.result_box.activeResult {
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.start_btn button {
    background: #fff;
    font-size: 180%;
    font-weight: 600;
    width: 200px;
    height: 50px;
    padding: 0 30px;
    outline: none;
    border-radius: 5px;
}

.start_btn button:hover {
    background: #ffff00;
}

.info_box {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 540px;
    background: black;
    color: white;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
    transition: all 0.3s ease;
}

.info_box .quiz_info {
    height: 60px;
    width: 100%;
    font-size: 130%;
    align-items: center;
    border-bottom: 1px solid rgb(250, 250, 0);
    display: flex;
    padding: 0 150px;
}

.info_box .quiz_info_list {
    padding: 0 160px;
}

.info_box .quiz_info_list .info span {
    color: yellow;
    font-weight: 600;
}

.info_box .quiz_info_list .info {
    margin: 5px 0;
}

.info_box .buttons {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 150px;
    border-top: 1px solid rgb(250, 250, 0);
}

.info_box .buttons button {
    font-size: 20px;
    font-weight: 600;
    margin: 0 5px;
    width: 100px;
    height: 40px;
    outline: none;
    background: yellow;
    color: black;
    border: 1px solid rgb(250, 250, 0);
    border-radius: 5px;
    cursor: pointer;
}

/* Hover button */

.buttons button.exit:hover {
    background: #fff;
}

.buttons button.contiune:hover {
    background: #fff;
}

/* Quiz display area */
.quiz_box {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 540px;
    background: black;
    color: #fff;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
}

.quiz_box header {
    position: relative;
    z-index: 99;
    height: 70px;
    padding: 0 10px;
    display: flex;
    background: #000;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
    box-shadow: 0px 3px 5px 1px rgb(0, 0, 0, 0.1);
    border: 1px solid rgb(255, 255, 0);
}

.quiz_box header .title {
    font-size: 110%;
    font-weight: 600;
}

.quiz_box header .timer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 129px;
    height: 47px;
    background: #fff;
    color: #000;
    padding: 0 5px;
    border-radius: 5px;
}

.quiz_box header .timer .time_left {
    font-size: 110%;
    font-weight: 600;
    user-select: none;
    text-align: center;
}

.quiz_box header .timer .timer_sec {
    font-size: 150%;
    font-weight: 700;
    text-align: center;
    line-height: 30px;
    background: yellow;
    width: 45px;
    height: 30px;
    border-radius: 3px;
}

/* Time line */
.quiz_box header .timer_line {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 3px;
    background: red;
}

/* Style Quiz questuin  and Answer section */
.quiz_box section {
    background: #000;
    padding: 0 15px;
}

.quiz_box section .question_text {
    font-size: 130%;
    font-weight: 600;
}

.quiz_box section .option_list {
    display: block;
    padding: 10px 0;
}

section .option_list .option {
    background-color: #252525;
    border: 1px solid #252525;
    border-radius: 3px;
    padding: 8px 15px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.3s ease;
}

.option_list .fa-check {
    color: #3cf00a;
    font-size: 250%;
    font-weight: 700;
}

.option_list .fa-times {
    color: hsl(0, 100%, 55%);
    font-size: 250%;
    font-weight: 700;
}

.option_list .option.correct {
    color: #3cf00a;
}

.option_list .option.incorrect {
    color: hsl(0, 100%, 55%);
}

.option_list .option.disabled {
    pointer-events: none;
}

/* Style Quiz Footer */
.quiz_box footer {
    height: 50px;
    width: 100%;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quiz_box footer .total-question span {
    display: flex;
    user-select: none;
}

footer .total-question span p {
    font-weight: 500;
    padding: 0 5px;
}

.total-question span p:first-child {
    padding-left: 0px;
}

/* Next question button */
footer .next_btn {
    display: none;
    height: 40px;
    padding: 0 10px;
    font-size: 110%;
    font-weight: 600;
    border: none;
    outline: none;
    color: #000;
    background: #ffff00;
    border-radius: 8px;
    border: 1px solid #ffff00;
    cursor: pointer;
    transition: all 0.3s ease;
}

footer .next_btn:hover {
    background: #fff;
}

/* Style quiz result area */
.result_box {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
    background: black;
    color: #fff;
    display: flex;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
}

.result_box .result_icon {
    font-size: 90px;
    color: #ffff00;
}

.result_box .complete_quiz {
    font-size: 120%;
    font-weight: 600;
}

.result_box .score_text span {
    display: flex;
    font-size: 110%;
    font-weight: 400;
}

.score_text span p {
    font-weight: 700;
    padding: 0 5px;
}

.result_box .buttons {
    display: flex;
    margin: 20px 0;
}



.result_box .buttons button {
    font-size: 90%;
    font-weight: 600;
    height: 30px;
    margin: 0 10px;
    padding: 0 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.result_box .buttons .contiune {
    background: yellow;
    font-weight: 800;
}

.buttons .contiune:hover {
    background: #fff;
}

.buttons .exit:hover {
    background: #ffff00;
}

/* Media query for tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    .heading .logo {
        width: 40vh;
        left: 10%;
    }

    .start_btn {
        top: 40%;
        left: 40%;
    }

    .start_btn button {
        font-size: 200%;
        width: 230px;
        height: 70px;
    }

    .info_box {
        width: 89%;
        height: 580px;
        left: 35%;
        top: 55%;
    }

    .quiz_box {
        width: 70%;
        height: 600px;
        left: 40%;
        top: 60%;
    }

    .result_box {
        width: 60%;
        height: 300px;
        left: 40%;
        top: 42%;

    }
}

/* Media query for Large devices(laptops and desktops, 992px and up) */
@media screen and (min-width: 900px) {
    .start_btn {
        top: 80%;
    }

    /* Logo */
    .heading .logo {
        width: 45%;
        margin-left: 350px;
        margin-top: 20px;
    }

    .info_box,
    .quiz_box,
    .result_box {
        top: 80%;
        left: 55%;
    }

    .info_box .quiz_info_list {
        padding: 0 35px;
    }

    .quiz_box,
    .result_box {
        width: 60%;
        height: 500px;
    }
}

/* Media query for Large devices(laptops and desktops, 992px and up) */
@media screen and (min-width: 1200px) {
    .start_btn {
        top: 60%;
    }

    .heading .logo {
        width: 30%;
        position: relative;
        left: 10%;
        padding-top: 0 25px;
    }

    .info_box,
    .quiz_box {
        width: 45%;
        height: 450px;
        top: 75%;
        left: 50%;
    }
}