/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap");

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General body style */
body {
    font-family: "Lota", sans-serif;
}

/* Logo */
.logo {
    width: 50vh;
    align-items: center;
}

/* Button */
.start_btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.start_btn button {
    background: #fff;
    font-size: 180%;
    font-weight: 600;
    width: 200px;
    height: 50px;
    padding: 15px 30px;
    outline: none;
    border-radius: 5px;
}

.start_btn button:hover {
    background: #ffff00;
}


.info_box {
    display: none;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 540px;
    background: black;
    color: white;
}

.info_box .quiz_info {
    height: 60px;
    width: 100%;
    font-size: 130%;
    align-items: center;
    border-bottom: 1px solid rgb(250, 250, 0);
    display: flex;
    padding: 0 150px;
}

.info_box .quiz_info_list {
    padding: 0 160px;
}

.info_box .quiz_info_list .info span {
    color: yellow;
    font-weight: 600;
}

.info_box .quiz_info_list .info {
    margin: 5px 0;
}

.info_box .buttons {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 150px;
    border-top: 1px solid rgb(250, 250, 0);
}

.info_box .buttons button {
    font-size: 20px;
    font-weight: 600;
    margin: 0 5px;
    width: 100px;
    height: 40px;
    background: yellow;
    color: black;
    border: 1px solid rgb(250, 250, 0);
    border-radius: 5px;
    cursor: pointer;
}

/* Hover button */

.buttons button.exit:hover {
    background: #fff;
}

.buttons button.contiune:hover {
    background: #fff;
}

/* Quiz timer */
.quiz_box {
    width: 450px;
    height: 400px;
    background: black;
    color: white;
    border-radius: 5px;
    top: 70%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.quiz_box header {
    display: flex;
    background: black;
    height: 80px;
    padding: 0 35px;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
    border: 1px solid rgb(250, 250, 0);
}

.timer {
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: 5px;

}

.title {
    display: flex;
    font-size: 130%;
    font-weight: 600;
    padding: 0 65px;
}

.time_left {
    display: flex;
    width: 140px;
    height: 50px;
    font-size: 150%;
    font-weight: 700;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    color: black;
    border-radius: 5px;
}

.timer_sec {
    font-size: 180%;
    font-weight: 700;
    background: #ffff00;
    color: black;
    height: 30px;
    width: 45px;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    border: 1px solid #ffff00;
    user-select: none;
}

section {
    padding: 20px 100px;
}

/* Media query for Large devices(laptops and desktops, 992px and up) */
@media screen and (min-width: 900px) {
    .logo {
        width: 25%;
        margin-left: 350px;
        margin-top: 20px;
    }

    .info_box,
    .quiz_box {
        top: 65%;
    }

    .info_box .quiz_info_list {
        padding: 0 35px;
    }

    .quiz_box {
        width: 70%;
        height: 400px;
    }
}

/* Media query for Large devices(laptops and desktops, 992px and up) */
@media screen and (min-width: 1200px) {
    .logo {
        width: 20%;
        margin-left: 600px;
        margin-top: 25px;

    }

    .quiz_box {
        width: 50%;
        height: 400px;
    }
}